node_modules/
dist/
.env
*.tsbuildinfo
apps/dashboard/dist/
apps/api/dist/
packages/shared/dist/
__pycache__/
*.pyc
.venv/
/data/
.idea/
apps/api/src/generated/
resume/
/apps/api/server
/apps/api/seed
.aider*
.opencode
apps/api/data/
